{% extends 'base.html' %}

{% block content %}
    {{ article.content }}
    <hr>
    <form action="{% url 'create-comment' article.pk %}" method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="content">댓글</label>
        <input type="text" class="form-control" name="content" id="content" placeholder="제목을 입력해">
      </div>
        <button class="btn btn-primary" type="submit">작성하기</button>
    </form>
    <hr>
    <div class="comment_box">
        {% for comment in article.comments.all %}
        <div>
            {{ comment.content }} | 글쓴이: {{ comment.author }}
        </div>
        {% endfor %}
    </div>
{% endblock %}